<div class="container">
  <h1 class="h1">Celebrities & Films</h1>
  <p>
    Lorem Ipsum je fiktívny text, používaný pri návrhu tlačovín a typografie. Lorem Ipsum je štandardným výplňovým textom už od 16. storočia, keď neznámy
  </p>

  <hr class="divider" />
  <h2>Celebrities</h2>

  <div class="row">
    <div class="col-lg-4">
      <img src="/images/cel1.jpg" width="200" alt="">
    </div>

    <div class="col-lg-7">
        <h3 class="h3" style="margin-top: 0">Bruce Willis</h3>
      <p>
        Bruce Willis pochází ze Západního Německa, ale v roce 1971 se jeho rodiče rozvedli a on putoval za oceán, do městečka Pennsgrove, stát New Jersey.Hereckou kariéru začal Willis při vystoupení svého skautského oddílu Lvíčata, ale dlouho se zdálo, že spíš než herectví se bude věnovat hře na foukací harmoniku.
      </p>
    </div>
  </div>
  <div style="margin-bottom: 20px;"></div>
  <div class="row">
    <div class="col-lg-4">
      <img src="/images/cel2.jpg" width="200" alt="">
    </div>

    <div class="col-lg-7">
      <h3 class="h3" style="margin-top: 0">Will Smith</h3>
      <p>
        Will Smith pochází ze Západního Německa, ale v roce 1971 se jeho rodiče rozvedli a on putoval za oceán, do městečka Pennsgrove, stát New Jersey.Hereckou kariéru začal Willis při vystoupení svého skautského oddílu Lvíčata, ale dlouho se zdálo, že spíš než herectví se bude věnovat hře na foukací harmoniku.
      </p>
    </div>
  </div>
  <div style="margin-bottom: 20px;"></div>
  <div class="row">
    <div class="col-lg-4">
      <img src="/images/donald-trump.jpg" width="200" alt="">
    </div>

    <div class="col-lg-7">
      <h3 class="h3" style="margin-top: 0">Donald Trump</h3>
      <p>
        Donald Trump pochází ze Západního Německa, ale v roce 1971 se jeho rodiče rozvedli a on putoval za oceán, do městečka Pennsgrove, stát New Jersey.Hereckou kariéru začal Willis při vystoupení svého skautského oddílu Lvíčata, ale dlouho se zdálo, že spíš než herectví se bude věnovat hře na foukací harmoniku.
      </p>
    </div>
  </div>


  <hr class="divider" />
  <h2>Movies</h2>
  <div class="row">
    <div class="col-lg-4">
      <img src="/images/fast.jpg" width="200" alt="">
    </div>

    <div class="col-lg-7">
      <h3 class="h3" style="margin-top: 0">Fast & Furious</h3>
      <p>
        Novozvolený americký prezident Donald Trump sa stal víťazom aj v štáte Michigan a získal tamojších 16 voliteľov. Takmer tri týždne po voľbách totiž tamojšia volebná komisia v pondelok potvrdila, že republikánsky kandidát na prezidenta zvíťazil v tomto severnom štáte o 10 704 hlasov.

      </p>
    </div>
  </div>



  <div style="margin-bottom: 20px;"></div>
  <div class="row">
    <div class="col-lg-4">
      <img src="/images/movie.jpg" width="200" alt="">
    </div>

    <div class="col-lg-7">
      <h3 class="h3" style="margin-top: 0">Born 2 Race</h3>
      <p>
        Mladý rebelský Danny Krueger je priam fanaticky zapálený pre pouličné preteky, čo mu však denne prináša kopu problémov. Keď jedného dňa havaruje, pošlú ho do vidieckeho mestečka k jeho rozvedenému otcovi, bývalému pretekárov
      </p>
    </div>
  </div>

  <div style="margin-bottom: 20px;"></div>
  <div class="row">
    <div class="col-lg-4">
      <img src="/images/kobra.jpg" width="200" alt="">
    </div>

    <div class="col-lg-7">
      <h3 class="h3" style="margin-top: 0">Kobra 11</h3>
      <p>
        Mladý rebelský Danny Krueger je priam fanaticky zapálený pre pouličné preteky, čo mu však denne prináša kopu problémov. Keď jedného dňa havaruje, pošlú ho do vidieckeho mestečka k jeho rozvedenému otcovi, bývalému pretekárov
      </p>
    </div>
  </div>



</div>
