<div class="container">
  <h1 class="h1">Volkswagen Passat history</h1>

  <p>
    An all-new Passat was unveiled in 1998, featuring a sleeker body on the popular Audi platform.
    No changes were in store for 1999, but the 2000 model year got an updated radio and a brake-wear indicator.
    Halfway through 2000, the half-year model was dropped, offering new exterior and interior styling.
  </p>

  <p>
    <img src="images/vw_history_new.jpg" width="300" style="float: left; margin:15px;">
    2001 marked the year of the high-performance Passat, offering an available V8 engine with 270 horses under the hood
    and an array of upscale features. Volkswagen also officially bumped their warranty up to four-years/50,000-miles.
    For 2002, stability control was made standard and the stereo system now had backlit buttons while shuffling of trims also took place.
  </p>


  <div style="clear:both"></div>
    <h2>Diesel engine</h2>

  <p>
    <img src="images/vwold.jpeg" width="300" style="float: right; margin:15px;" />
    A 2.0-liter diesel engine was offered as an option for 2004, alongside newly redesigned alloy wheels and updated side mirrors. The only big change for 2005 was the discontinuation of the W8 model. An all-new Passat was rolled out for 2006, offering a new body style and a long list of standard features and options. A new wagon version debuted for 2007, the cruise control system was updated and an auxiliary jack was added to the stereo. Model years 2008 and 2009 yielded no major changes. But in 2010, a multimedia enhanced steering wheel was offered and Bluetooth integration was made standard. The Passat would see no major changes for 2011, with an all-new model being rolled out in 2012.
    Model years 2013-2014 would only see minor tweaks to options and trim levels.
  </p>



</div>
