<div class="container">
    <h1 class="h1">Other Models</h1>
    <ul class="list-group">
        <li class="list-group-item list-group-item-info">Volkswagen GTI</li>
        <li class="list-group-item list-group-item-info">Volkswagen Golf</li>
        <li class="list-group-item list-group-item-info">Volkswagen Polo</li>
        <li class="list-group-item list-group-item-info">Volkswagen New Beetle (Import COTY subgroup)</li>
        <li class="list-group-item list-group-item-info">Volkswagen Touareg (Sport Utility Vehicle COTY subgroup)</li>
    </ul>
</div>