<div class="jumbotron">
  <h2>Technical speciffication</h2>
  <ul>
    <li>Length: 4770 mm</li>
    <li>Width: 1820 mm</li>
    <li>Height: 1474/1516 mm</li>
    <li>Max. weight	2130 kg.</li>
    <li>Sedan, Combi</li>
    <li>Front wheel drive</li>
    <li>140 HP</li>
    <li>Engine	2.0 TDI (140 Hp) DSG BMT</li>
    <li>Doors	4</li>
    <li>Maximum speed	211 km/h</li>
    <li>Acceleration 0 - 100 km/h	9.8 sec</li>
    <li>Fuel tank volume	70 l</li>
    <li>Wheelbase	2712 mm.</li>
    <li>Number of Gears (automatic transmission)	6 DSG</li>
    <li>Fuel consumption (economy) - urban	6.3 l/100 km.</li>
    <li>Fuel consumption (economy) - extra urban	4.5 l/100 km.</li>
    <li>Fuel consumption (economy) - combined	5.2 l/100 km.</li>
  </ul>
</div>
